{% extends '@RadditApp/submission/base.html.twig' %}

{% from '@RadditApp/comment/_macros.html.twig' import comment %}

{% block title %}
  {% if editing %}
    {{ 'comment_form.edit_title'|trans }}
  {% else %}
    {{ 'comment_form.create_title'|trans }}
  {% endif %}
{% endblock %}

{% block page_classes %}
  comment-form-error-page
{% endblock %}

{% block body %}
  {{ parent() }}

  <h1 class="page-heading">{{ block('title') }}</h1>

  {% if comment %}
    {{ comment(comment, {recurse: false}) }}
  {% endif %}

  {% include '@RadditApp/comment/_form.html.twig' with { form: form } only %}
{% endblock %}

