{% extends '@RadditApp/base.html.twig' %}
{% from '@RadditApp/macros/submissions.html.twig' import submission, submission_sort %}

{% block page_classes %}
  all-page
{% endblock %}

{% block head %}
  <link rel="canonical" href="{{ url('raddit_app_all') }}">
  {% include '@RadditApp/includes/meta_pagination.html.twig' with {pager: submissions} %}
{% endblock %}

{% block body %}
  <nav class="submission-sort">
    <ul>
      {{- submission_sort(sort_by) -}}
      <li><a href="{{ path('raddit_app_front', app.request.attributes.get('_route_params')) }}">{{ 'front.front'|trans }}</a></li>
    </ul>
  </nav>

  {% for submission in submissions %}
    {{ submission(submission) }}
  {% endfor %}

  {% include '@RadditApp/includes/pagination.html.twig' with {pager: submissions} %}
{% endblock %}
