{% extends '@RadditApp/base.html.twig' %}

{% spaceless %}
  {% block site_nav_right %}
    {% if is_granted('ROLE_USER') %}
      <li><a href="{{ path('raddit_app_submit', {forum_name: forum.name}) }}">{{ 'forum.submit'|trans }}</a></li>
    {% endif %}

    {{- parent() -}}
  {% endblock %}

  {% block sidebar %}
    <section class="forum-meta">
      <h1 class="forum-title"><a href="{{ path('raddit_app_forum', {forum_name: forum.name}) }}">{{ forum.title }}</a></h1>

      {% if forum.description %}
        <p class="forum-description">{{ forum.description|markdown|raw }}</p>
      {% endif %}
    </section>

    {% if forum.moderators|length > 0 %}
      <section class="forum-moderators">
        <h1>{{ 'forum.moderators'|trans }}</h1>
        <ul>
          {% for moderator in forum.moderators %}
            <li>
              <a href="{{ path('raddit_app_user', {username: moderator.user.username}) }}">
                {{- moderator.user.username -}}
              </a>
            </li>
          {% endfor %}
        </ul>
      </section>
    {% endif %}
  {% endblock %}
{% endspaceless %}
