{% extends '@RadditApp/base.html.twig' %}
{% from '@RadditApp/macros/submissions.html.twig' import submission, submission_sort %}

{% block page_classes %}
  front-page
{% endblock %}

{% block head %}
  <link rel="canonical" href="{{ url('raddit_app_front') }}">
  {% include '@RadditApp/includes/meta_pagination.html.twig' with {pager: submissions} %}
{% endblock %}

{% block body %}
  <nav class="submission-sort">
    <ul>
      {{- submission_sort(sort_by) -}}
      <li><a href="{{ path('raddit_app_all', app.request.attributes.get('_route_params')) }}">{{ 'front.all'|trans }}</a></li>
    </ul>
  </nav>

  {% for submission in submissions %}
    {{ submission(submission) }}
  {% endfor %}

  {% include '@RadditApp/includes/pagination.html.twig' with {pager: submissions} %}
{% endblock %}

{%- block sidebar -%}
  <section>
    {% if has_subscriptions %}
      <h1>{{ 'front.subscribed_forums'|trans }}</h1>
    {% elseif is_granted('ROLE_USER') %}
      <h1>{{ 'front.featured_forums'|trans }}</h1>
      <p>{{ 'front.no_subscriptions'|trans }}</p>
    {% else %}
      <h1>{{ 'front.featured_forums'|trans }}</h1>
    {% endif %}

    {% if forums|length > 0 %}
      <ul>
        {% for name in forums %}
          <li><a href="{{ path('raddit_app_forum', {forum_name: name}) }}">{{ name }}</a></li>
        {% endfor %}
      </ul>
    {% else %}
      <p>{{ 'front.no_forums'|trans }}</p>
    {% endif %}
  </section>
{%- endblock -%}
