{% extends '@RadditApp/base.html.twig' %}
{% from '@RadditApp/macros/submissions.html.twig' import submission, submission_sort %}

{% block page_classes %}
  front-page
{% endblock %}

{%- block site_nav_right -%}
  {%- if is_granted('ROLE_USER') -%}
    <li><a href="{{ path('raddit_app_create_forum') }}">{{ 'create_forum.nav_link'|trans }}</a></li>
  {%- endif -%}
  {{- parent() -}}
{%- endblock -%}

{% block body %}
  {{ submission_sort(sort_by) }}

  {% for submission in submissions %}
    {{ submission(submission) }}
  {% endfor %}
{% endblock %}
