{% extends '@RadditApp/base.html.twig' %}
{% from '@RadditApp/macros/submissions.html.twig' import submission, submission_sort %}

{% block page_classes %}
  front-page
{% endblock %}

{% block body %}
  {{ submission_sort(sort_by) }}

  {% for submission in submissions %}
    {{ submission(submission) }}
  {% endfor %}
{% endblock %}

{%- block sidebar -%}
  {%- if is_granted('ROLE_USER') -%}
    <section>
      <h1>{{ 'front.subscribed_forums'|trans }}</h1>

      {% if subscribed_forums|length > 0 %}
        <ul>
          {% for name in subscribed_forums %}
            <li><a href="{{ path('raddit_app_forum', {forum_name: name}) }}">{{ name }}</a></li>
          {% endfor %}
        </ul>
      {% else %}
        <p>{{ 'front.no_subscriptions'|trans }}</p>
      {% endif %}
    </section>

    {{ parent() }}
  {%- endif -%}
{%- endblock -%}
