{% extends '@RadditApp/base.html.twig' %}

{% block page_classes %}
  message-list-page
{% endblock %}

{% block head %}
  {% include '@RadditApp/includes/meta_pagination.html.twig' with {pager: messages} %}
{% endblock %}

{% block title %}
  {{ 'message_list.page_title'|trans }}
{% endblock %}

{% block body %}
  <h1>{{ block('title') }}</h1>

  {% if messages|length > 0 %}
    <table class="table">
      <thead>
      <tr>
        <th>{{ 'message_list.title'|trans }}</th>
        <th>{{ 'message_list.sent'|trans }}</th>
        <th>{{ 'message_list.replies'|trans }}</th>
        <th>{{ 'message_list.from'|trans }}</th>
        <th>{{ 'message_list.to'|trans }}</th>
      </tr>
      </thead>
      <tbody>
      {% for message in messages %}
        <tr>
          <td><strong><a href="{{ path('raddit_app_message', {id: message.id}) }}">{{ message.title }}</a></strong></td>
          <td>
            <time class="relative-time" datetime="{{ message.timestamp|date('c') }}">
              {{ message.timestamp|localizeddate('long', 'short') }}
            </time>
          </td>
          <td>{{ message.replies|length|localizednumber }}</td>
          <td><a href="{{ path('raddit_app_user', {username: message.sender.username}) }}">{{ message.sender.username }}</a></td>
          <td><a href="{{ path('raddit_app_user', {username: message.receiver.username}) }}">{{ message.receiver.username }}</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>{{ 'message_list.no_messages'|trans }}</p>
  {% endif %}

  {% include '@RadditApp/includes/pagination.html.twig' with {pager: messages} %}
{% endblock %}

