{% extends '@RadditApp/base.html.twig' %}

{% block title 'stylesheets.list_title'|trans %}
{% block page_classes 'stylesheet-list-page' %}

{% block head %}
  {{ include('@RadditApp/includes/meta_pagination.html.twig', {pager: stylesheets}, with_context=false) }}
{% endblock %}

{% block body %}
  {% from '@RadditApp/macros/user_macros.html.twig' import user_link %}

  <h1>{{ block('title') }}</h1>

  <nav>
    <p><a href="{{ path('raddit_app_create_stylesheet') }}" class="button">{{ 'stylesheets.new_stylesheet'|trans }}</a></p>
  </nav>

  <table class="table">
    <thead>
      <tr>
        <th>{{ 'stylesheets.name'|trans }}</th>
        <th>{{ 'stylesheets.author'|trans }}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for stylesheet in stylesheets %}
        <tr>
          <td><a href="{{ path('raddit_app_raw_stylesheet', {id: stylesheet.id}) }}">{{ stylesheet.name }}</a></td>
          <td><a href="{{ path('raddit_app_user', {username: stylesheet.user.username}) }}">{{ user_link(stylesheet.user) }}</a></td>
          <td>
            {% if is_granted('edit', stylesheet) %}
              <a href="{{ path('raddit_app_edit_stylesheet', {id: stylesheet.id}) }}" class="button button--inline">{{ 'stylesheets.edit'|trans }}</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {{ include('@RadditApp/includes/pagination.html.twig', {pager: stylesheets}, with_context=false) }}
{% endblock %}
