{%- macro submission(submission, options) -%}
  {%- set options = {
    show_body: false,
  }|merge(options|default({})) -%}

  {{- block('submission') -}}
{%- endmacro -%}

{%- block submission -%}
  {%- spaceless -%}
  <article class="submission submission-{{ submission.submissionType }}">
    <h1 class="submission-title">
      <a href="{{ block('submission_url') }}" class="submission-link">
        {{- submission.title -}}
      </a>
    </h1>

    <p>Submitted by <a href="#TODO">{{ submission.user.username }}</a>
      at {{ submission.timestamp|date }}
      in <a href="#TODO">{{ submission.forum.name }}</a>.</p>

    {%- if options.show_body -%}
      <div class="submission-body">{{ block('submission_body') }}</div>
    {%- endif -%}

    <ul class="submission-nav">
      <li><a href="{{ path('raddit_app_comments', {id: submission.id}) }}">Comments ({{ submission.comments|length }})</a></li>
    </ul>
  </article>
  {%- endspaceless -%}
{% endblock %}

{%- block submission_url -%}
  {%- if submission.submissionType == 'post' -%}
    {{- path('raddit_app_comments', {id: submission.id}) -}}
  {%- elseif submission.submissionType == 'url' -%}
    {{- submission.url -}}
  {%- endif -%}
{%- endblock -%}

{%- block submission_body -%}
  {%- if submission.submissionType == 'post' -%}
    {{- submission.body -}}
  {%- elseif submission.submissionType == 'url' -%}
    {#- TODO: show embeddded media -#}
  {%- endif -%}
{%- endblock -%}
