{% extends '@RadditApp/base.html.twig' %}

{% block page_classes 'message-list-page' %}

{% block head %}
  {{ include('@RadditApp/_includes/meta_pagination.html.twig', {pager: messages}, with_context=false) }}
{% endblock %}

{% block title 'title.messages'|trans %}

{% block body %}
  <h1 class="page-heading">{{ block('title') }}</h1>

  {% if messages|length > 0 %}
    <table class="table">
      <thead>
        <tr>
          <th>{{ 'label.title'|trans }}</th>
          <th>{{ 'label.sent'|trans }}</th>
          <th>{{ 'label.replies'|trans }}</th>
          <th>{{ 'label.from'|trans }}</th>
          <th>{{ 'label.to'|trans }}</th>
        </tr>
      </thead>
      <tbody>
      {% for message in messages %}
        <tr>
          <td><strong><a href="{{ path('raddit_app_message', {id: message.id}) }}">{{ message.title }}</a></strong></td>
          <td>
            {% with {date: message.timestamp|localizeddate('long', 'short')} %}
              <time class="relative-time" datetime="{{ message.timestamp|date('c') }}" title="{{ date }}">{{ date }}</time>
            {% endwith %}
          </td>
          <td>{{ message.replies|length|localizednumber }}</td>
          <td><a href="{{ path('raddit_app_user', {username: message.sender.username}) }}">{{ message.sender.username }}</a></td>
          <td><a href="{{ path('raddit_app_user', {username: message.receiver.username}) }}">{{ message.receiver.username }}</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <div class="alert alert--notice">
      <p>{{ 'flash.no_messages'|trans }}</p>
    </div>
  {% endif %}

  {{ include('@RadditApp/_includes/pagination.html.twig', {pager: messages}, with_context=false) }}
{% endblock %}

