{% macro comment(comment, recurse) %}
  {{- block('comment') -}}
{% endmacro %}

{% macro comment_form(submission, comment) %}
  {% if is_granted('ROLE_USER') %}
    {{ render(controller('RadditAppBundle:Comment:commentForm', {
      forumName: submission.forum.name,
      submissionId: submission.id,
      commentId: comment.id|default(null)
    })) }}
  {% else %}
    <p class="must-log-in">{{ 'comments.not_logged_in'|trans({
        '%login_link%': '<a href="%s">%s</a>'|format(
          path('raddit_app_login'),
          'comments.not_logged_in_login_link_label'|trans
        ),
        '%register_link%': '<a href="%s">%s</a>'|format(
          path('raddit_app_registration'),
          'comments.not_logged_in_register_link_label'|trans
        ),
      })|raw }}</p>
  {% endif %}
{% endmacro %}

{%- block comment -%}
  {%- from '@RadditApp/macros/votes.html.twig' import vote -%}
  <article class="comment {{ level|default(0) ? 'comment-level-'~level : 'comment-top-level' }}">
    <div class="comment-inner">
      {{ vote(comment) }}

      <h3 class="comment-info">{{ 'comments.info'|trans({
          '%user%': block('comment_info_user'),
          '%timestamp%': block('comment_info_timestamp'),
        })|raw }}</h3>

      <div class="comment-body">
        {{ comment.body|raw }}
      </div>

      {% spaceless %}
        <nav class="comment-nav">
          <ul>
            <li><a href="{{ path('raddit_app_comment', {
                forum_name: comment.submission.forum.name,
                submission_id: comment.submission.id,
                comment_id: comment.id
              }) }}">{{ 'comments.permalink'|trans }}</a></li>
            {% if comment.parent %}
              <li><a href="{{ path('raddit_app_comment', {
                  forum_name: comment.parent.submission.forum.name,
                  submission_id: comment.parent.submission.id,
                  comment_id: comment.parent.id,
                }) }}">{{ 'comments.parent'|trans }}</a></li>
            {% endif %}
          </ul>
        </nav>
      {% endspaceless %}
    </div>

    {% if recurse ?? true and comment.children|length > 0 %}
      <div class="comment-replies">
        {%- for reply in comment.children -%}
          {%- with { comment: reply, level: level|default(0) + 1} only -%}
            {{- block('comment') -}}
          {%- endwith -%}
        {%- endfor -%}
      </div>
    {% endif %}
  </article>
{%- endblock -%}

{%- block comment_info_user -%}
  <a href="{{ path('raddit_app_user', {username: comment.user.username}) }}" class="comment-user">
    {{- comment.user.username -}}
  </a>
{%- endblock -%}

{%- block comment_info_timestamp -%}
  <time datetime="{{ comment.timestamp|date('c') }}" title="{{ comment.timestamp|date }}" class="comment-timestamp relative-time">
    {{- 'comments.info_at_timestamp'|trans({'%timestamp%': comment.timestamp|date}) -}}
  </time>
{%- endblock -%}
