{% macro forum_list_header() %}
  {%- spaceless -%}
    <nav class="forum-list-view-selector">
      <ul>
        <li class="{{ app.request.attributes.get('_route') == 'raddit_app_forum_list' ? 'active' }}">
          <a href="{{ path('raddit_app_forum_list') }}">{{ 'forum_list.list_view'|trans }}</a>
        </li>
        <li class="{{ app.request.attributes.get('_route') == 'raddit_app_forums_by_category' ? 'active' }}">
          <a href="{{ path('raddit_app_forums_by_category') }}">{{ 'forum_list.category_view'|trans }}</a>
        </li>
      </ul>
    </nav>
  {%- endspaceless -%}

  <h1>{{ 'forum_list.page_title'|trans }}</h1>

  {%- spaceless -%}
    <nav class="horizontal-nav forum-list-bottom-nav">
      <ul>
        <li><a href="{{ path('raddit_app_create_forum') }}" class="button">{{ 'forum_list.create_forum'|trans }}</a></li>
      </ul>
    </nav>
  {%- endspaceless -%}
{% endmacro %}
