{% extends 'base.html.twig' %}
{% from 'user/_macros.html.twig' import user_link %}

{% block title block('html_title')|striptags %}

{% block body %}
  {{ include('ban/_tabs.html.twig', {page: 'user_bans'}, with_context=false) }}

  <h1 class="page-heading">
    {% block html_title %}
      {{ 'title.unban_user'|trans({
        '%user%': user_link(user, {prefix: true})
      })|raw }}
    {% endblock %}
  </h1>

  {{ form_start(form) }}
    {{ form_rest(form) }}

    <div class="form__row form__button-row">
      <button class="button">{{ 'action.unban'|trans }}</button>
    </div>
  {{ form_end(form) }}
{% endblock %}
