{% extends 'base.html.twig' %}

{% block html_title %}
  {{ 'title.viewing_theme_source'|trans({'%theme%': '<a href="%s">%s/%s</a>'|format(
    path('theme_history', {id: revision.theme.id})|e,
    revision.theme.author.username|e,
    revision.theme.name|e
  )})|raw }}
{% endblock %}

{% block title block('html_title')|striptags %}

{% block page_classes 'theme-source-page' %}

{% block body %}
  <h1 class="page-heading">{{ block('html_title') }}</h1>

  <p>
    <strong>{{ 'label.revision_id'|trans }}</strong>:
    <code>{{ revision.id|replace({'-': '-<wbr>'})|raw }}</code>
  </p>

  {% with {hierarchy: revision.hierarchy} %}
    {% if hierarchy|length > 1 or hierarchy[0].appendToDefaultStyle %}
      <h2>{{ 'label.hierarchy'|trans }}</h2>
      {% if hierarchy[0].appendToDefaultStyle %}
        <ul>
          <li><em>{{ 'label.default'|trans }}</em>
      {% endif %}
      {% for member in hierarchy %}
        <ul>
          <li>
            {% if member == revision %}
              <strong>{{ member.theme.author.username }}/{{ member.theme.name }}</strong>
            {% else %}
              {{ member.theme.author.username }}/{{ member.theme.name }}
            {% endif %}
            {% if member != revision %}
              (<a href="{{ path('theme_revision_source', {id: member.id}) }}">
                <code>{{- member.id|replace({'-': '-<wbr>'})|raw -}}</code>
              </a>)
            {% endif %}
      {% endfor %}
      {% for i in 0..hierarchy|length %}
          </li>
        </ul>
      {% endfor %}
      {% if hierarchy[0].appendToDefaultStyle %}
          </li>
        </ul>
      {% endif %}
    {% endif %}
  {% endwith %}

  {% if revision.commonCss is not empty %}
    <details open>
      <summary>{{ 'label.common_css'|trans }}</summary>
      <pre class="source-code"><code class="language-css">{{ revision.commonCss }}</code></pre>
    </details>
  {% endif %}

  {% if revision.dayCss is not empty %}
    <details open>
      <summary>{{ 'label.day_css'|trans }}</summary>
      <pre class="source-code"><code class="language-css">{{ revision.dayCss }}</code></pre>
    </details>
  {% endif %}

  {% if revision.nightCss is not empty %}
    <details open>
      <summary>{{ 'label.night_css'|trans }}</summary>
      <pre class="source-code"><code class="language-css">{{ revision.nightCss }}</code></pre>
    </details>
  {% endif %}
{% endblock %}
