{% extends 'user/user.html.twig' %}
{% import "comment/_macros.html.twig" as commentMacros %}

{% block head %}
  <link rel="canonical" href="{{ url('user_comments', {username: user.username}) }}">
  {{ include('_includes/meta_pagination.html.twig', {pager: comments}) }}
{% endblock %}

{% block page_classes %}
  user-comments-page
{% endblock %}

{% block title %}
  {{ 'user.comments'|trans }}
{% endblock %}

{% block body %}
  {{ include('user/_nav.html.twig', {user: user}, with_context=false) }}

  <h1 class="page-heading">{{ block('title') }}</h1>

  {% for comment in comments %}
    {{ commentMacros.comment(comment, {recurse: false}) }}
  {% endfor %}

  {{ include('_includes/pagination.html.twig', { pager: comments }) }}
{% endblock %}
