{% extends 'user/user.html.twig' %}
{% from 'comment/_macros.html.twig' import comment %}

{% block head %}
  <link rel="canonical" href="{{ url('user_comments', {username: user.username}) }}">
  {{ include('_includes/meta_pagination.html.twig', {pager: comments}) }}
{% endblock %}

{% block page_classes %}
  user-comments-page
{% endblock %}

{% block title %}
  {{ 'user.comments'|trans }}
{% endblock %}

{% block body %}
  <h1 class="page-heading">{{ block('title') }}</h1>

  {% for comment in comments %}
    {{ comment(comment, {recurse: false}) }}
  {% endfor %}

  {{ include('_includes/pagination.html.twig', { pager: comments }) }}
{% endblock %}
