{% extends 'base.html.twig' %}

{% block head %}
  {% include '_includes/meta_pagination.html.twig' with {pager: notifications} %}
{% endblock %}

{% block page_classes %}
  inbox-page
{% endblock %}

{% block title %}
  {{ 'inbox.title'|trans }}
{% endblock %}

{% block body %}
  <h1 class="page-heading">{{ 'inbox.title'|trans }}</h1>
  <nav class="tabs submission-sort">
      <ul class="tabs__bar">
      {%- set attr = app.request.attributes -%}
      {%- spaceless -%}
        {%- for type in ['unread', 'all'] -%}
          <li class="tabs__tab {{ type == current_filter ? 'tabs__tab--active active' }}">
          <a href="{{ path(attr.get('_route'), (attr.get('_route_params') ?? [])|merge({page: 1, filter: type})) }}" class="tabs__link {{ type == current_filter ? 'tabs__link--active' }}">
          {{- ('inbox.filter_'~type)|trans -}}
          </a>
        </li>
        {%- endfor -%}
      {%- endspaceless -%}
      </ul>
  </nav>

  {% if notifications|length > 0 %}
    <form action="{{ path('clear_inbox', { max: notifications|first.id }) }}" method="POST" class="form">
      <input type="hidden" name="token" value="{{ csrf_token('clear_inbox') }}">
      <div class="form__row">
        <button type="submit" class="button">{{ 'inbox.clear_inbox'|trans }}</button>
      </div>
    </form>
  {% else %}
    <p>{{ 'inbox.empty'|trans }}</p>
  {% endif %}

  {% for notification in notifications %}
    {% if notification.read != true %}
      {{ block('clear_notification_button') }}
    {% endif %}
    {{ block('notification_'~notification.type) }}
  {% endfor %}

  {% include '_includes/pagination.html.twig' with {pager: notifications} %}
{% endblock %}

{% block notification_comment %}
  {% from 'comment/_macros.html.twig' import comment %}

  {{ comment(notification.comment, {recurse: false}) }}
{% endblock %}

{% block notification_message_thread %}
  {% from 'message/_macros.html.twig' import message_thread %}

  <h1 class="notification-head">
    <a href="{{ path('message', {id: notification.thread.id}) }}">
      {{- notification.thread.title -}}
    </a>
  </h1>

  {{ message_thread(notification.thread, {recursive: false}) }}
{% endblock %}

{% block notification_message_reply %}
  {% from 'message/_macros.html.twig' import message_reply %}

  <h1 class="notification-head">
    <a href="{{ path('message', {id: notification.reply.thread.id}) }}#mr{{ notification.reply.id }}">
      {{ 'inbox.message_reply_head'|trans({'%title%': notification.reply.thread.title}) -}}
    </a>
  </h1>

  {{ message_reply(notification.reply) }}
{% endblock %}

{% block clear_notification_button %}
  <form action="{{ path('clear_notification', { id: notification.id }) }}" method="POST">
    <input type="hidden" name="token" value="{{ csrf_token('clear_notification') }}">
      <div>
        <button type="submit" class="clear-notification-button">{{ 'inbox.clear_notification'|trans }}</button>
      </div>
  </form>
{% endblock %}
