{% extends 'base.html.twig' %}

{% block head %}
  {{ include('_includes/meta_pagination.html.twig', {pager: logs}, with_context=false) }}
{% endblock %}

{% block title 'title.global_moderation_log'|trans %}

{% block body %}
  {% from 'forum/_macros.html.twig' import log_line %}
  <h1 class="page-heading">{{ block('title') }}</h1>

  {% if logs|length > 0 %}
    <ul class="moderation-log">
      {% for entry in logs %}
        <li class="moderation-log__entry moderation-log__entry--{{ entry.action|replace({'_': '-'}) }}">
          <p>
            <a href="{{ path('forum', {forum_name: entry.forum.name}) }}">/f/{{ entry.forum.name }}</a>
            &mdash;
            {{ log_line(entry) }}
            &mdash;
            {% with {date: entry.timestamp|localizeddate('long', 'short')} %}
              <time datetime="{{ entry.timestamp|date('c') }}" class="relative-time" title="{{ date }}">
                {{- date -}}
              </time>
            {% endwith %}
          </p>
        </li>
      {% endfor %}
    </ul>

    {{ include('_includes/pagination.html.twig', {pager: logs}, with_context=false) }}
  {% else %}
    <div class="alert alert--notice">
      <p>
        {{ 'flash.no_entries_to_display'|trans }}
      </p>
    </div>
  {% endif %}
{% endblock %}

